@using PresentationLayer.Models;
@using DataLayer.Enums;
@model PageEditModel


<form action="/Page/PageEditor" method="post">
    @if (Model is DirectoryEditModel)
    {
        <h1>Edit Directory</h1>
        var _currentModel = (DirectoryEditModel)Model;
        <input name="Id" type="hidden" value="@_currentModel.Id" />
        <input name="Title" value="@_currentModel.Title" />
        <textarea name="Html">@_currentModel.Html</textarea>
    }
    else if (Model is MaterialEditModel)
    {
        <h1>Edit Material</h1>
        var _currentModel = (MaterialEditModel)Model;
        <input name="Id" type="hidden" value="@_currentModel.Id" />
        <input name="Directoryid" type="hidden" value="@_currentModel.Directoryid" />
        <input name="Title" value="@_currentModel.Title" />
        <textarea name="Html">@_currentModel.Html</textarea>

    }
    <input type="submit" />
</form>
